<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="show">I will disappear when false</p>
        <p v-else>I will disappear when true</p>
        <p v-if="show">It would be fun</p>
        <hr>
        <template v-if="show">
            <h1>Hello world!</h1>
            <p>It would be in template</p>
        </template>
        <hr>
        <p v-show="show">I will be hear all time</p>
        <button @click="show = !show">Switch</button>
    </div>
    <script src="js/app.js"></script>
</body>
</html>