<script src="js/vue.js"></script>

<div id="exercise">
   <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
    <p v-once>VueJS is pretty cool - my name and age is: {{ name }} {{ age }}</p>
    <!-- 2) Output your age, multiplied by 3 -->
    <p>My multiplied age is: {{ fillPersonalData()*3 }} = {{ fillPersonalData() }} (from method fillPersonalData) * 3</p>
    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
    <p> {{ randNum }} - now it's your random number!</p>
    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
    <div>
        <img v-bind:src="imgLink" style="width:100px;height:100px">
    </div>
    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
    <div>
        <p>My name is: {{ name }}</p>
        <input type="text" v-on:input="changeName" v-bind:value="name">
    </div>
</div>

<script>
    new Vue({
        el: '#exercise',
        data: {
            name: 'Andrew',
            age: '23',
            imgLink: 'https://images.pexels.com/photos/744667/pexels-photo-744667.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500',
        },
        computed:{
            randNum: function() {
                return Math.random();
            },
        },
        methods: {
            fillPersonalData: function(){
                this.age = '29';
                return this.age;
            },
            changeName: function(e){
                this.name = e.target.value;
            }
        },
    });
</script>